a { color: #888; display: block; height: 20px; font: 12px sans-serif; line-height: 20px; text-align: center; text-decoration: none; }
html, body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
}

.levels {
    margin: 0;
}

.levels > div:first-child > p:first-child {
    margin-top: 5vw;
}

/* Notes */
.songs > div > div {
    position: absolute;
    font: 9px sans-serif;
    line-height: 10px;
    bottom: 0.1vw;
    left: 0.1vw;
    right: 0.1vw;
    color: #ff8;
    padding: 0.4vw;
    text-shadow: 0.1px 0 0px #ff8, 0 0 1.5px #000, 0 0.5px 1.5px #000, 0 0.5px 1.5px #000, 0.1px 0 1.5px #000, 0.1px 0.5px 1.5px #000, 0.1px 0.5px 1.5px #000;
    letter-spacing: 0.1px;
    background: linear-gradient(rgba(128,128,128,0), rgba(0,0,0,0.2), rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    padding-bottom: 2px;
    font-weight: normal;
}

/* Subgroups */
:not(.songs):not(.levels) > div > p:first-child {
    font: 14px sans-serif;
    line-height: 30px;
    word-spacing: 0.2ch;
    margin: 4vw 0 0;
    letter-spacing: 0;
    color: #aaa;
    font-weight: bold;
}

/* Levels */
.levels > div > p:first-child {
    background: #658; color: #fff; padding: 0 2vw;
    border: solid #b8e;
    border-width: 0.2vw 0;
    font-size: 26px;
    line-height: 30px;
    color: #fff;
    margin: 80px 0 16px;
    text-align: center;
}

html, p {
    margin: 0;
}

p {
    font: 11.5px sans-serif;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
}

div.nosongs {
    display: none;
}



.songs > div { position: relative }

.songs > div > p:first-child {
    top: 0.1vw;
    left: 0.1vw;
    right: 0.1vw;
    height: 40px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(128,128,128,0));
    overflow: hidden;
}

.songs > div > p:first-child,
.songs > div > p:nth-child(3) {
    position: absolute;
    padding: 0 0.5vw;
    /* backdrop-filter: blur(3px); */
    text-shadow: 0 0 1px #000, 0.5px 0.5px 2px #000;
    font-weight: bold;
    box-sizing: border-box;
}

.songs > div > p:nth-child(3) {
    letter-spacing: -0.06ch;
    top: 16px;
    overflow: hidden;
    font-size: 10px;
    line-height: 12px;
    height: 14px;
    font-weight: 500;
}

.songs > div > p:nth-child(2) {
    width: 100%;
    overflow: hidden;
}

div {
    max-width: 100vw;
    margin-top: 1.5vw;
}

.songs {
    display: flex;
    flex-wrap: wrap;
}
.songs > div {
    margin: 0;
    overflow: hidden;
}
.songs > div img {
    border: solid 0.1vw rgba(255,255,255,0.5);
    box-sizing: border-box;
}

@media (orientation: portrait) {
    .songs {
        gap: 1vw;
    }
    .songs > div {
        width: 24.25vw;
    }
    .songs > div img {
        width: 24.25vw;
        height: 24.25vw;
    }
}

@media (orientation: landscape) {
    .songs {
        gap: 0.4vw;
    }
    .songs > div {
        width: 12vw;
    }
    .songs > div img {
        width: 12vw;
        height: 12vw;
    }
}